<div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s3"><a href="#nicosia">Nicosia</a></li>
        <li class="tab col s3"><a class="active" href="#limassol">Limassol</a></li>
        <li class="tab col s3"><a href="#paphos">Paphos</a></li>
        <li class="tab col s3"><a href="#larnaca">Larnaca</a></li>
      </ul>
    </div>
    <div id="nicosia" class="col s12">Nicosia</div>
    <div id="limassol" class="col s12">Limassol</div>
    <div id="paphos" class="col s12">Paphos</div>
    <div id="larnaca" class="col s12">Larnaca</div>
  </div>
        