<div class="navbar-fixed">
    <nav class="nav-extended teal">
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Customer Manager</a>
      </div>
    </nav>
  </div>
  
  <div class="container top">
    <div class="row">
      <div class="left col s5 nav-buttons">
        <a class="waves-effect waves-light btn" routerLink="">Customers</a>
      </div>
      <div class="left col s5 nav-buttons">
        <a class="waves-effect waves-light btn" routerLink="counters">Counters</a>
      </div>
      <div class="input-field inline right col s2">
        <input id="customer-code" type="text">
        <label for="customer-code" data-error="wrong" data-success="right">Customer Code</label>
      </div>
    </div>
  </div>
  
  
  
  